@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* Desktop version */
body{
    margin: 0;
}
#margin{
    width: 1920px;
    height: 2766px;
    position: relative;
    background-color: #E6E9F2;
}
#free-job-ads {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 1400px;
    height: 2572px;
    left: 260px;
    top: 29px;
}
#job-bar-long{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;

    width: 1400px;
    height: 164px;
    background: #FFFFFF;
    box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.08), 0px 2px 1px -1px rgba(0, 0, 0, 0.04), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
#job-bar #content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 26px;

    width: 1070px;
    height: 116px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
}
#job-bar #content #hospital-image {
    width: 85px;
    height: 85px;
    left: 16px;
    position: relative;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
#job-bar #content #content-text-margin {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    
    width: 959px;
    height: 116px;
    
    opacity: 0.8;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 1;    

}

#job-bar #content #content-text-margin #job-ad-text {
    width: 712px;
    height: 50px;
    text-decoration: none;
    /* Headlines/H2 Sans Serif */

    font-family: 'Proxima Nova', sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    /* or 125% */

    letter-spacing: -0.625px;

    /* Text/Dark */

    color: #3A4562;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#job-bar #content #content-text-margin #hospital-name{
    width: 959px;
    height: 25px;

    /* Subtitle 2 */

    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height, or 156% */

    letter-spacing: 0.23619px;

    /* Text/Secondary */

    color: #878D9D;


    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

#job-bar #content #content-text-margin #location {
    width: 137px;
    height: 25px;
    flex: none;
    order: 3;
    flex-grow: 0;
}

#job-bar #content #content-text-margin #location span {
    position: relative;
    height: 25px;
    left: 6.33%;
    right: 0%;
    top: calc(50% - 25px/2);

    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height, or 156% */

    letter-spacing: 0.23619px;

    /* Text/Secondary */

    color: #878D9D;
}

#job-bar #content #star-rating{
    width: 96px;
    height: 18px;
    
    
    /* Inside auto layout */
    
    position: relative;
    top: 73px;
    order: 2;
    flex-grow: 0;
}

#job-bar #content #frame{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 17px;

    width: 138px;
    height: 116px;


    /* Inside auto layout */

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

#page {
    position: absolute;
    width: 515px;
    height: 52px;
    left: 663px;
    top: 2650px;
    background: #FFFFFF;
    box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.08), 0px 2px 1px -1px rgba(0, 0, 0, 0.04), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 10.4px;
}
#page #left-arrow {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 23px;
    top: 17px;

    mix-blend-mode: normal;
    opacity: 0.5;
}
#page #separator1 {
    position: absolute;
    width: 1.3px;
    height: 31.2px;
    left: 68.25px;
    top: 10.4px;
}
#page #pages-numbers{
    position: absolute;
    width: 265px;
    height: 39.35px;
    left: 125px;
    top: 12px;
}
#page #separator2 {
    position: absolute;
    width: 1.3px;
    height: 31.2px;
    left: 446.55px;
    top: 10.4px;
}
#page #right-arrow {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 477px;
    top: 17px;

    mix-blend-mode: normal;
    opacity: 0.5;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
/* Mobile version */
@media only screen and (max-width: 414px){
    #margin{
        height: 3310px;
        width: 414px;
    }
    #free-job-ads{
        position: absolute;
        width: 396px;
        left: 9px;
        top: 9px;
        height: max-content;
    }
    #job-bar-long {
        align-items: unset;
        width: 396px;
        height: 206px;
        top: 9px;
        background-color: #EFF0F5;
    }
    #job-bar #content {
        display: block;
        max-width: 364px;
        max-height: 166px;
    }
    #job-bar #content #hospital-image {
        position: relative;
        width: 66px;
        height: 66px;
        left: 16px;
        top: 45px;
    }
    #job-bar #content #star-rating {
        position: relative;
        width: 54px;
        height: 10px;
        left: calc(50% - 54px/2 - 70px);
        top: -169px;
        left: 101px;
    }
    #job-bar #content #frame {
        display: none;

    }
    #job-bar #content #content-text-margin {
        position: relative;
        width: 279px;
        height: 135px;
        top: -12px;
        left: 101px;
        
    }
    #job-bar #content #content-text-margin #job-ad-text{
        width: 278px;
        height: 48px;
    }
    #job-bar #content #content-text-margin #job-ad-text span{
        display: none;
    }
    #job-bar #content #content-text-margin #job-ad-text::after {
        position: relative;
        content:"Arbeitsmediziner/-in / Betriebsmediziner/-in (m/w/d)";
        font-weight: 400;
    }
    #job-bar #content #content-text-margin #hospital-name {
        position: relative;
        width: 278px;
        height: 50px;
    }
    #page {
        position: absolute;
        width: 396px;
        height: 40px;
        left: 9px;
        top: 3230px;
    }
    #page div {
        scale: 0.7;
    }
    #page #left-arrow{
        position: absolute;
        width: 14px;
        height: 14px;
        left: 27px;
        top:17px;
    }
    #page #separator1 {
        position: absolute;
        width: 1px;
        height: 24px;
        left: 61.5px;
    }
    #page #pages-numbers{
        position: absolute;
        width: 204px;
        height: 30.5px;
        left: 83px;
        top: 7px;
    }
    #page #separator2 {
        position: absolute;
        width: 1px;
        height: 24px;
        left: 334.5px;
    }
    #page #right-arrow{
        position: absolute;
        width: 14px;
        height: 14px;
        left: 357px;
    }
}